<div class="container">

  <!-- pokemon2 -->
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item">Pikachu</li>
        <li class="list-group-item">Lvl17</li>
        <li class="list-group-item">HP</li>
      </ul>
    </div>
    <div class="col h-100 my-auto">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" class="img-fluid imgPokemonTop"
           alt="...">
    </div>
  </div>

  <!-- pokemon1 -->
  <div class="row">
    <div class="col h-100 my-auto">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" class="img-fluid"
           alt="...">
    </div>
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item">Bulbasaur</li>
        <li class="list-group-item">Lvl17</li>
        <li class="list-group-item">HP</li>
      </ul>
    </div>
  </div>

  <!-- control pane -->
  <div class="row border mt-5 p-2">
    <div class="col border" style="font-size: 20px;">
      What will Bulbasaur do ?
    </div>
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col p-0 m-1">
            <button type="button" class="btn btn-dark w-100">cut</button>
          </div>
          <div class="col p-0 m-1">
            <button type="button" class="btn btn-dark w-100">swords-dance</button>
          </div>
        </div>
        <div class="row">
          <div class="col p-0 m-1">
            <button type="button" class="btn btn-dark w-100">vine-whip</button>
          </div>
          <div class="col p-0 m-1">
            <button type="button" class="btn btn-dark w-100">tackle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
